name: Main Workflow
on: [push]
jobs:
  build:
    name: Run k6 test
    runs-on: ubuntu-latest
    services:
      httpbin:
        image: grafana/k6-httpbin:v0.8.4
        ports:
          - 8080:8080
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v4
        with:
          node-version: 18     
      - run: npm ci
      - run: npm run pretest
      - name: Run k6 local test
        uses: grafana/k6-action@v0.3.1
        with:
          filename: dist/test.main.js
          flags: -e BASE_URL=http://httpbin:8080